// Define spyd styles

.main-panel {
    width: 100%;
    height: 100%;
}

.reserve-accessory, .my-reserve-list, .manage-reserve-list, .spyd-report-view {
    .search-accessory-list, .search-report-list {
        width: 250px;
        .search-toolbar {
            width: 100% !important;
            background-color: #FFF;
            .x-box-inner{
                width: 100% !important;
                background-color: #FFF;
                .x-box-target {
                    width: 100% !important;
                    .search-field {
                        width: 100% !important;
                        padding: 0px 5px;
                        tbody tr {
                            width: 100% !important;
                            td {
                                width: 100% !important;
                                table {
                                    width: 100% !important;
                                    tbody tr {
                                        width: 100% !important;
                                        td {
                                            width: 100% !important;
                                            input {
                                                width: 100% !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .x-panel-body {
            width: 100%;
            //height: 100%;
            .search-item {
                ul {
                    list-style: none;
                    margin: 1px -5px;
                    width: 100%;
                    li {
                        font-size: 14px;
                        font-weight: normal;
                        color: #222;
                        padding-left: 14px;
                        margin-left: -30px;
                        background-color: #EEE;
                    }
                    li.selected-item {
                        color:#7CB23A;
                        background-color: #CCC;                        
                    }
                    li:hover {
                        color:#7CB23A;
                        background-color: #CCC;
                        cursor: pointer !important;
                    }
                }
            }
        }
        .x-tab-bar {
            display: none;
        }
    }
    .reserve-calendar {
        width: 80%;
    }
}

.pnl-range-dates {
    width: 200px !important;
    height: 25px !important;
    //left: 20px !important;
    //top: 120px !important;
    tbody tr {
        .x-form-item-body {
            //width: 200px !important;
            //left: -105px !important;
        }
    }
}

.reserve-calendar {
    .x-panel-header {
    }
    .x-panel-body {
        .ext-cal-dayview {
            span div {
                .ext-cal-body-ct {
                    .ext-cal-bg-tbl {
                        tbody tr td.ext-cal-day-col {
                            .ext-cal-day-col-inner{
                                .ext-cal-day-col-gutter {
                                    width: 100%;
                                    .x-cal-default {
                                        background-color: #7CB22A;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
