<!DOCTYPE html>
<html>
<head>
  <title>Game Room Client</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    Ext.Ajax.extraParams = { authenticity_token: "<%= form_authenticity_token %>" };
  </script>

<%= yield %>

</body>
</html>
